<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Magnus Automation Suite" >

    <listeners>
        <listener class-name="com.veracross.magnus.listeners.ExtentReportListener"/>

    </listeners>
    <test name="Smoke test suite">
        <packages>
            <package name="com.veracross.magnus.smokeSuiteTests"/>
        </packages>
    </test>

</suite>
